@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}
body {
  background-color: black;
  color: white;
}

.nav-bar {
  height: 45px;
  padding: 7px 0px 0px 7px;
  padding-top: 5px;
  display: flex;
  margin-top: 15px;
}

.left {
  display: flex;
  justify-content: flex-start;
  height: 45px;
}
.logo {
  width: 88px;
  margin-top: -29px;
  margin-left: 29px;
  height: 90px;
}
.logo-sec {
  display: flex;
}
.menu {
  margin: -1px 0 0 15px;
  height: 45px;
  font-size: larger;
}

.mid {
  display: flex;
  margin-left: 206px;
}
.search-bar-div {
  display: flex;
}
.search-bar {
  width: 450px;
  height: 35px;
  border-radius: 20px 0 0 20px;
  padding-left: 10px;
  border: 1px #717171 solid;
  background-color: black;
  font-size: 17px;
  color: white;
}

.button-submit {
  background: none;
  color: white;
  background-color: rgba(113, 113, 113, 0.5);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: 1px solid rgba(113, 113, 113, 0.5);
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 35px;
  width: 46px;
}
.micro {
  background-color: rgba(113, 113, 113, 0.5);
  border-radius: 50%;
  margin-left: 13px;
  margin-top: -2px;
  width: 35px;
  height: 36px;
}
.micro :hover {
  cursor: pointer;
}
.mic {
  border-radius: 50%;
  padding: 3px;
}

.right {
  display: flex;
  margin-left: 190px;
  justify-content: space-evenly;
  width: 273px;
}

.notification :hover,
.profile-pic :hover,
.create :hover {
  background-color: rgba(113, 113, 113, 0.5);
  border-radius: 50%;
  margin-left: 13px;
  margin-top: -2px;
  width: 40px;
  height: 41px;
  padding: 4px;
  cursor: pointer;
}

.main {
  margin: 10px 0 0 23px;
  display: flex;
  position: fixed;
  top: 56px;
  left: -10px;
  height: 100vh;
  overflow-y: auto;
}
.nav-side-main {
  width: 250px;
  position: fixed;
  top: 89px;
  left: 10px;
  height: 100vh;
  overflow-y: auto;
}

.side-icons {
  display: flex;
}

.side-icooon {
}
.side-hidder {
  font-size: 15px;
  margin-top: 3px;
  margin-left: 31px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 9px;
}
.info a {
  margin: 3px 0 3px 0;
}
.side-bar {
  width: 230px;
  height: 45px;
  margin-bottom: 5px;
  padding: 3px 0 3px 6px;
}

.spc {
  background-color: rgba(113, 113, 113, 0.5);
  height: 30px;
  margin-bottom: 5px;
  padding: 3px 0 3px 6px;
  border-radius: 20px;
}
.side-bar :hover {
  background-color: rgba(113, 113, 113, 0.5);
  height: 30px;
  margin-bottom: 5px;
  padding: 3px 0 3px 6px;
  border-radius: 20px;
  cursor: pointer;
}

.content {
  width: 1120px;
  margin-left: 230px;
}
.video {
  margin-left: 13px;
}

.video :hover {
  cursor: pointer;
}

.video-info {
  display: flex;
  margin-top: 15px;
}
.vid-title {
  margin-left: 16px;
}

.do {
  width: 300px;
  height: 300px;
}
.container {
  display: flex;
  padding: 10px 0 0 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.not-found {
  margin-top: 220px;
}
